<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container mt-5">

		<a th:href="@{/listar}" class="text-end btn btn-warning mb-2" th:text="'&laquo; volver'"></a>

		<h1 th:text="${titulo}" class="text-center mt-2 mb-5">title</h1>

		<!-- mostrar errores en la parte superior -->
		<div class="row mt-4">
			<div class="col-6 mx-auto">
				<div th:object="${cliente}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}"
						class="alert alert-danger px-5">
						<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row mb-5">
			<div class="col-6 mx-auto">
				<form th:action="@{/form}" th:object="${cliente}" method="POST"
					enctype="multipart/form-data">
					<div class="form-group">
						<label for="nombre">Nombre</label> <input type="text"
							class="form-control" id="nombre" th:field="*{nombre}"
							th:value="${nombre}" /> <small class="text-danger"
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
					</div>
					<div class="form-group">
						<label for="apellido">Apellido</label> <input type="text"
							class="form-control" id="apellido" th:field="*{apellido}"
							th:value="${apellido}" /> <small class="text-danger"
							th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
					</div>
					<div class="form-group">
						<label for="email">Email</label> <input type="email"
							class="form-control" id="email" th:field="*{email}"
							th:value="${email}" /> <small class="text-danger"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
					</div>
					<div class="form-group">
						<label for="fecha">Creado en</label> <input type="date"
							class="form-control" id="fecha" th:field="*{createdAt}"
							th:value="${createdAt}" /> <small class="text-danger"
							th:if="${#fields.hasErrors('createdAt')}"
							th:errors="*{createdAt}"></small>
					</div>

					<div class="form-group">
						<label for="file">Foto </label> <input type="file"
							class="form-control" id="file" name="file" />
					</div>

					<input type="hidden" class="form-control" id="id" th:field="*{id}" />

					<button type="submit" class="btn btn-primary btn-block py-2">Añadir</button>

				</form>
			</div>
			<!-- col -->
		</div>
	</div>
	<!-- container -->

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>