<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container mt-5 mb-5">
		<div class="row mt-5">
			<div class="col mt35">

				<a class="mb-3 btn btn-warning" th:text="'&laquo; volver'"
					th:href="@{/listar}"></a>


				<div class="card">
					<div class="card-header d-flex justify-content-between">
						<h2 th:text="${titulo}" class="card-title">Titulo</h2>

						<div>
							<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success"
								th:href="@{'/factura/form/' + ${cliente.id}}"
								th:text="'Crear Factura'"> </a>
						</div>

					</div>

					<div class="card-body">

						<img th:if="${cliente.foto != null}"
							class="img-fluid img-thumbnail rounded float-left"
							style="max-width: 25%" th:src="@{'/uploads/' + ${cliente.foto}}"
							th:alt="${cliente.foto}" />

						<ul class="list-group">
							<li class="list-group-item" th:text="${cliente.nombre}"></li>
							<li class="list-group-item" th:text="${cliente.apellido}"></li>
							<li class="list-group-item" th:text="${cliente.email}"></li>
							<li class="list-group-item" th:text="${cliente.createdAt}"></li>
						</ul>


						<!-- mostrar mensaje si está vacia -->
						<p th:if="${#lists.isEmpty(cliente.facturas)}"
							class="alert alert-info m-4"
							th:text="'No hay facturas asignadas para 
							el cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></p>

						<table th:if="${not #lists.isEmpty(cliente.facturas)}"
							class="table table-bordered table-striped my-4">
							<thead class="thead-dark">
								<tr>
									<th>Folio</th>
									<th>Descripcion</th>
									<th>Fecha</th>
									<th>Total</th>
									<th sec:authorize="hasRole('ROLE_ADMIN')">Ver</th>
									<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>	
								</tr>
							</thead>
							<tbody>
								<tr th:each="factura : ${cliente.facturas}">
									<td th:text="${factura.id}"></td>
									<td th:text="${factura.descripcion}"></td>
									<td th:text="${factura.createdAt}"></td>
									<td th:text="${factura.totalFactura}"></td>
									<td sec:authorize="hasRole('ROLE_ADMIN')">
										<a class="btn btn-primary" 
											th:href="@{'/factura/ver/' + ${factura.id}}"
											th:text="'Detalle factura'">
										</a>
									</td>
									<td sec:authorize="hasRole('ROLE_ADMIN')">
										<a class="btn btn-danger" 
											th:href="@{'/factura/eliminar/' + ${factura.id}}"
											th:text="'Eliminar'" 
											onclick="return confirm('¿Estas seguro que desea eliminar la factura?');">
										</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer" class="mt-5"></footer>
</body>
</html>